<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
        <header>
            <section class="topHeader bottomLine">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 no-padding topNavigationMenu">
                            <div class="col-md-6 col-xs-6 pull-left no-padding">
                                <div class="dropdownCurrency">
                                    <select class="selectpicker">
                                        <option class="uah">UAH</option>
                                        <option class="eur">EUR</option>
                                        <option class="usd">USD</option>
                                    </select>
                                </div>
                                <div class="dropdownLanguage">
                                    <select class="selectpicker">
                                        <option class="en">English</option>
                                        <option class="fr">French</option>
                                        <option class="ge">German</option>
                                        <option class="ag">Argentina</option>
                                        <option class="bl">Bolivia</option>
                                    </select>
                                </div>
                                <div class="dropdownUserInfo">
                                    <select class="selectpicker">
                                        <option class="userAccauntLink"><i class="fa fa-user" aria-hidden="true"></i>My Account</option>
                                    </select>
                                </div>
                                <div class="wishlist">
                                    <a href="" class="myWishlist"><i class="fa fa-heart" aria-hidden="true"></i>my wishlist</a>
                                </div>
                                <div class="loginBlock">
                                    <a href="" class="loginLink"><i class="fa fa-lock" aria-hidden="true"></i>login</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6 no-padding pull-right text-right">
                                <div class="livechat">
                                    <a href="" class="livechatLink"><i class="fa fa-comment-o" aria-hidden="true"></i>Start <span>LIVE CHAT</span></a>
                                </div>
                                <div class="callus">
                                    <a href="" class="callusLink"><i class="fa fa-phone" aria-hidden="true"></i>Call our customer service at: <span>096-999-8386</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 no-padding">
                            <div class="logoWrapper">
                                <p class="mainText">furniture<span>home furniture store</span></p>
                            </div>
                            <div class="col-md-5 col-xs-5 searchWrapper">
                                <form action="" method="">
                                    <div class="inputWrapper">
                                        <input type="text" class="searchInput" placeholder="Enter your keyword..."/>
                                    </div>
                                    <button type="submit" class="cmdSearch">Search</button>
                                </form>
                            </div>
                            <div class="text-center deliveryInfo">
                                <p class="deliveryIcon"><i class="fa fa-truck" aria-hidden="true"></i></p>
                                <div class="textWrapper text-left">
                                    <p class="deliveryText">Everyday Free Shipping</p>
                                    <p class="deliveryText2">& No Sales Tax</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 pull-right text-center cartInfo">
                                <p class="cartIcon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></p>
                                <p class="cartName">My Cart</p>
                                <p class="cartCount">1 item (s)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mainMenu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 no-padding">
                            <div class="col-md-8 col-xs-8 no-padding">
                                <ul class="unstyled-list list-inline navigationList">
                                    <li class="active"><a href="/" class="homeLink"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                                    <li class="features">
                                        <a href="#" class="ropdown-toggle hot" data-toggle="dropdown">Features<span class="bundle b-hot">hot</span></a>
                                        <div class="dropdown-menu">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="col-md-2 col-xs-2 subcategoryItem">
                                                        <p class="subcategoryTitle">Layouts</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Hover menu item</a></li>
                                                            <li><a href="#">Home Style 2</a></li>
                                                            <li><a href="#">Home Style 3</a></li>
                                                            <li><a href="#">Home Style 4</a></li>
                                                            <li><a href="#">Home Style 5</a></li>
                                                            <li><a href="#">Home Style 6</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem">
                                                        <p class="subcategoryTitle">Color styles</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#" class="brown">Brown</a></li>
                                                            <li><a href="#" class="red">Red</a></li>
                                                            <li><a href="#" class="green">Green</a></li>
                                                            <li><a href="#" class="orange">Orange</a></li>
                                                            <li><a href="#" class="blue">Blue</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem">
                                                        <p class="subcategoryTitle">Headers</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Header Style 1</a></li>
                                                            <li><a href="#">Header Style 2</a></li>
                                                            <li><a href="#">Header Style 3</a></li>
                                                            <li><a href="#">Header Style 4</a></li>
                                                            <li><a href="#">Header Style 5</a></li>
                                                            <li><a href="#">Header Style 6</a></li>
                                                            <li><a href="#">Header</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem">
                                                        <p class="subcategoryTitle">Product detail layouts</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Product Detail - Full</a></li>
                                                            <li><a href="#">Product Detail - Left Sidebar</a></li>
                                                            <li><a href="#">Product Detail - Right Sidebar</a></li>
                                                            <li><a href="#">Thumbnail - Horizontal</a></li>
                                                            <li><a href="#">Thumbnail - Vertical</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem">
                                                        <p class="subcategoryTitle">Zoom types</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Product  Page Inner Zoom</a></li>
                                                            <li><a href="#">Product  Page Outer Zoom</a></li>
                                                            <li><a href="#">Product  Page Lens Zoom</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="col-md-2 col-xs-2 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">Listing Layouts</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Without Siderbar</a></li>
                                                            <li><a href="#">Left Siderbar</a></li>
                                                            <li><a href="#">Right Siderbar</a></li>
                                                            <li><a href="#">Left Siderbar</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">About Us Layouts</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">About Us Style 1</a></li>
                                                            <li><a href="#">About Us Style 2</a></li>
                                                            <li><a href="#">About Us Style 3</a></li>
                                                            <li><a href="#">About Us Style 4</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">Contact Us Layouts</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Contact Us Style 1</a></li>
                                                            <li><a href="#">Contact Us Style 2</a></li>
                                                            <li><a href="#">Contact Us Style 3</a></li>
                                                            <li><a href="#">Contact Us Style 4</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">404 page layout</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Product Detail</a></li>
                                                            <li><a href="#">Product Detail</a></li>
                                                            <li><a href="#">Product Detail</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2 col-xs-2 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">Effect hover product</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Simple</a></li>
                                                            <li><a href="#">Display Second Image</a></li>
                                                            <li><a href="#">Display Second Image</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="room">
                                        <a href="#" class="ropdown-toggle" data-toggle="dropdown">Living room</a>
                                        <div class="dropdown-menu">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="col-md-4 col-xs-4 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">Accessories</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Clocks</a></li>
                                                            <li><a href="#">Decorative Shelving</a></li>
                                                            <li><a href="#">Desktop</a></li>
                                                            <li><a href="#">Dividers & Screens</a></li>
                                                            <li><a href="#">Fireplace</a></li>
                                                            <li><a href="#">Glassware & Ceramic</a></li>
                                                            <li><a href="#">Mirrors</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">bed & Bath</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Bookcases</a></li>
                                                            <li><a href="#">Other furniture</a></li>
                                                            <li><a href="#">Chairs</a></li>
                                                            <li><a href="#">Desks</a></li>
                                                            <li><a href="#">Office lamps</a></li>
                                                            <li><a href="#">Rocking chairs</a></li>
                                                            <li><a href="#">Trunks</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-xs-4 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">Headers</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Bathtime Goods</a></li>
                                                            <li><a href="#">Bed & Bath Accessories</a></li>
                                                            <li><a href="#">Bedding</a></li>
                                                            <li><a href="#">Blankets</a></li>
                                                            <li><a href="#">Shower Curtains</a></li>
                                                            <li><a href="#">Step Stools</a></li>
                                                            <li><a href="#">Towels & Rugs</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12 text-center">
                                                    <img class="banner" src="img/banner.png " alt="main banner" />
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="bedroom">
                                        <a href="#" class="ropdown-toggle new" data-toggle="dropdown">Bedrooms<span class="bundle b-new">new</span></a>
                                        <div class="dropdown-menu">
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="col-md-3 col-xs-3 subcategoryItem secondFont">
                                                        <p class="subcategoryTitle">Accessories</p>
                                                        <ul class="list-unstyled subcategoryList">
                                                            <li><a href="#">Clocks</a></li>
                                                            <li><a href="#">Decorative Shelving</a></li>
                                                            <li><a href="#">Desktop</a></li>
                                                            <li><a href="#">Dividers & Screens</a></li>
                                                            <li><a href="#">Fireplace</a></li>
                                                            <li><a href="#">Glassware & Ceramic</a></li>
                                                            <li><a href="#">Mirrors</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-8 col-xs-8 productList secondFont">
                                                        <div class="productItem">
                                                            <div class="productDescription">
                                                                <div class="imageWrapper">
                                                                    <img src="" alt="" />
                                                                </div>
                                                                <div class="text-center productInfo">
                                                                    <p class="productTitle">Auzam mipane</p>
                                                                    <p class="productRating">
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                    </p>
                                                                    <p class="productPrice"><span class="oldPrice"></span>$74.00</p>
                                                                </div>
                                                            </div>
                                                            <div class="text-center productAditional">
                                                                <button class="pull-left productCompare" type="button"><i class="fa fa-retweet" aria-hidden="true"></i></button>
                                                                <button class="addToCart" type="button">add to cart</button>
                                                                <button class="pull-right productAddFavorite" type="button"><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#" class="blogLink">Blog</a></li>
                                    <li><a href="#" class="contactusLink">Contact us</a></li>
                                </ul>
                            </div>
                            <div class="text-center pull-right">
                                <ul class="unstyled-list list-inline socialList">
                                    <li><a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="ln"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="gp"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="pi"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </header>
