<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900" rel="stylesheet">
    </head>
    <body>
        <section class="top-header bottom-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12 topNavigationMenu">
                        <div class="col-md-6 col-xs-6 pull-left">
                            <div class="dropdown-currency">
                                <select class="selectpicker">
                                    <option class="uah">UAH</option>
                                    <option class="eur">EUR</option>
                                    <option class="usd">USD</option>
                                </select>
                            </div>
                            <div class="dropdown-language">
                                <select class="selectpicker">
                                    <option class="en">English</option>
                                    <option class="fr">French</option>
                                    <option class="ge">German</option>
                                    <option class="ag">Argentina</option>
                                    <option class="bl">Bolivia</option>
                                </select>
                            </div>
                            <div class="dropdown-userInfo">
                                <a href="" class="userAccauntLink"><i class="fa fa-user" aria-hidden="true"></i>My Account</a>
                            </div>
                            <div class="wishlist">
                                <a href="" class="myWishlist"><i class="fa fa-heart" aria-hidden="true"></i>my wishlist</a>
                            </div>
                            <div class="loginBlock">
                                <a href="" class="loginLink"><i class="fa fa-lock" aria-hidden="true"></i>login</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 no-padding pull-right text-right">
                            <div class="livechat">
                                <a href="" class="livechatLink"><i class="fa fa-comment-o" aria-hidden="true"></i>Start <span>LIVE CHAT</span></a>
                            </div>
                            <div class="callus">
                                <a href="" class="callusLink"><i class="fa fa-phone" aria-hidden="true"></i>Call our customer service at: <span>096-999-8386</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-3 col-xs-3 logo-wrapper">
                            <p class="main-text">furniture<span>home furniture store</span></p>
                        </div>
                        <div class="col-md-5 col-xs-5 search-wrapper">
                            <form action="" method="">
                                <div class="input-wrapper">
                                    <input type="text" class="search-input" placeholder="Enter your keyword..."/>
                                </div>
                                <button type="submit">Search</button>
                            </form>
                        </div>
                        <div class="col-md-3 col-xs-3 pull-right text-center cart-info">
                            <p><i class="fa fa-shopping-cart" aria-hidden="true"></i></p>
                            <p class="cart-name">My Cart</p>
                            <p class="cart-count">1 item (s)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
