$mainFontSize: 14px;
$mainColor: #484848;

$secondColor: #279cc7;

$fontBlack: 900 100% 'Raleway';
$fontBold: 700 100% 'Raleway';
$fontRegular: 300 100% 'Raleway';

$fontBlackL: 900 100% 'Lobster Two';
$fontBoldL: 700 100% 'Lobster Two';
$fontBoldLi: italic 700 100% 'Lobster Two';
$fontRegularL: 400 100% 'Lobster Two';




