@import "reset";
@import "const";
@import "bootstrap-select";

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
}


//begin style for top navigation
.topNavigationMenu {
  font-size: 0;
}

.topNavigationMenu > div > div {
  display: inline-block;
  font-size: $mainFontSize;
  margin: 1px 10px;
  &.dropdown-currency {
    margin-left: 0;
  }
  &.callus {
    margin-right: 0;
  }
  &:hover {
    a {
      color: #909090;
    }
  }
  a {
    color: $mainColor;
    padding: 10px 0;
    display: block;
  }
  .fa {
    margin-right: 5px;
  }
}

.myWishlist {
  position: relative;
}


////begin style for dropdown-select
.dropdown-select {
  background: transparent;
  &:hover,
  &:focus,
  &:active {
    .filter-option {
      color: $secondColor;
    }
    .caret {
      color: $secondColor;
    }
  }
  + .dropdown-menu {
    border-radius: 0;
    padding: 0;
    li a {
      text-align: center;
      color: $mainColor;
      font-size: $mainFontSize;
      &:hover,
      &:focus,
      &.selected,
      &:hover {
        background: $secondColor;
        color: #fff;
        box-shadow: none;
        outline: none;
      }
    }

  }
}

.dropdownLanguage {
  .dropdown-select {
    + .dropdown-menu {
      left: -10px;
      li {
        width: 96px;
      }
      a {
        text-align: left;
        position: relative;
        padding-left: 32.5px;
        &:before {
          content: "";
          position: absolute;
          height: 10.5px;
          width: 14.5px;
          background-image: url("../img/sprite-flag.png");
          background-size: auto;
          left: 9.5px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &.en:before {
          background-position: 0 0;
        }
        &.fr:before {
          background-position: 0 -13px;
        }
        &.ge:before {
          background-position: 0 -26px;
        }
        &.bl:before {
          background-position: 0 -51px;
        }
        &.ag:before {
          background-position: 0 -38px;
        }
      }
    }
    .filter-option {
      position: relative;
      padding-left: 20px;
      &:before {
        content: "";
        position: absolute;
        height: 11.5px;
        width: 14.5px;
        background-image: url("../img/sprite-flag.png");
        background-size: auto;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    &[title="English"] .filter-option:before {
      background-position: 0 0;
    }

    &[title="French"] .filter-option:before {
      background-position: 0 -13px;
    }

    &[title="German"] .filter-option:before {
      background-position: 0 -26px;
    }

    &[title="Bolivia"] .filter-option:before {
      background-position: 0 -51px;
    }

    &[title="Argentina"] .filter-option:before {
      background-position: 0 -38px;
    }
  }
}

.dropdown-toggle {
  padding: 0 10px 0 0;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
////end style for dropdown-select


.bottomLine {
  border-bottom: 1px solid #ddd;
}
//end style for top navigation

//begin style for header block
.header {
  margin: 30px 0 -30px;
}

////begin style for logo
.logoWrapper {
  .mainText {
    color: $secondColor;
    font: $fontBlack;
    font-size: 34px;
    line-height: 1;
    text-transform: uppercase;
    span {
      font: $fontRegular;
      font-size: 14px;
      color: #969696;
      display: block;
      text-transform: capitalize;
      letter-spacing: 3.5px;
    }
  }
}

//// end style for logo

////begin style for search block
.searchWrapper {
  max-width: 431px;
  width: 100%;
  font-size: 0;
  padding: 0;
  margin: 2px 0;
  .inputWrapper,
  .cmdSearch {
    display: inline-block;
  }
  .cmdSearch {
    width: 91px;
    background: $secondColor;
    border: 0;
    color: #fff;
    font: $fontBold;
    font-size: 14px;
    height: 42px;
    &:hover {
      background: #23B5C7;
    }
  }
  .inputWrapper {
    max-width: 340px;
    width: 100%;
  }
  .searchInput {
    height: 42px;
    width: 100%;
    outline: none;
    background: transparent;
    border-color: #dadada;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    font: $fontRegular;
    font-size: 12px;
    color: #999;
    padding: 10px 0 10px 53px;
  }
  .inputWrapper {
    position: relative;
    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      height: 30px;
      margin: auto;
      width: 1px;
      left: 41px;
      background: #dadada;
    }
    &:before {
      background: url("../img/icon-search.png") no-repeat center;
      height: 18px;
      width: 18px;
      left: 12px;
    }
  }
}

////end style for search block


////begin style for cart-info
.cartInfo {
  background: $secondColor;
  color: #fff;
  width: 171px;
  height: 103px;
  position: relative;
  top: -30px;
  padding: 10px 0;
  p {
    margin: 0 0 5px;
  }
  .cartIcon {
    font-size: 24px;
  }
  .cartName {
    font: $fontBlack;
    font-size: 14px;
    text-transform: uppercase;
  }
  .cartCount {
    font: $fontRegular;
    font-size: 12px;
  }
}
////end style for cart-info

////begin style for delivery info block
.deliveryInfo {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
  &:before {
    content: "";
    height: 70%;
    width: 2px;
    background: #dadada;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .deliveryIcon {
  }
}
////end style for delivery info block

//end style for header block

//begin style for main menu
.mainMenu {
  background: #202020;
  font-size: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
  position: relative;
  a {
    color: #fff;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
    font: $fontBlack;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    &.homeLink {
      font-size: 20px;
    }
  }
  .navigationList {
    li {
      vertical-align: top;
      &:hover {
        background: $secondColor;
      }
    }
  }
  .socialList {
    background: #414141;
    margin: 0;
    padding: 0 29px;
    li {
      padding: 0;
      a {
        padding: 10px 5px;
        color: #b6b6b6;
      }
    }
  }
}

////begin style for bundle
.bundle {

}
////begin style for bundle

//end style for main menu