@import "reset";
@import "const";
@import "bootstrap-select";
@import "bundle";


* {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

button {
  border: 0;
  outline: 0;
  background: transparent;
}

.list-inline {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
}


//begin style for top navigation
.topNavigationMenu {
  font-size: 0;
}

.topNavigationMenu > div > div {
  display: inline-block;
  font-size: $mainFontSize;
  margin: 1px 10px;
  &.dropdownCurrency {
    margin-left: 0;
  }
  &.callus {
    margin-right: 0;
  }
  &:hover {
    a {
      color: #909090;
    }
  }
  a {
    color: $mainColor;
    padding: 10px 0;
    display: block;
    font-size: 12px;
  }
  .fa {
    margin-right: 5px;
  }
}

.myWishlist {
  position: relative;
  text-transform: capitalize;
}

////begin style for dropdown-select
.dropdown-select {
  background: transparent;
  &:hover,
  &:focus,
  &:active {
    .filter-option {
      color: $secondColor;
    }
    .caret {
      color: $secondColor;
    }
  }
  + .dropdown-menu {
    border-radius: 0;
    padding: 0;
    li a {
      text-align: center;
      color: $mainColor;
      font-size: $mainFontSize;
      &:hover,
      &:focus,
      &.selected,
      &:hover {
        background: $secondColor;
        color: #fff;
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.dropdownLanguage {
  .dropdown-select {
    + .dropdown-menu {
      left: -10px;
      li {
        width: 96px;
      }
      a {
        text-align: left;
        position: relative;
        padding-left: 32.5px;
        font-size: 12px;
        &:before {
          content: "";
          position: absolute;
          height: 10.5px;
          width: 14.5px;
          background-image: url("../img/sprite-flag.png");
          background-size: auto;
          left: 9.5px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &.en:before {
          background-position: 0 0;
        }
        &.fr:before {
          background-position: 0 -13px;
        }
        &.ge:before {
          background-position: 0 -26px;
        }
        &.bl:before {
          background-position: 0 -51px;
        }
        &.ag:before {
          background-position: 0 -38px;
        }
      }
    }
    .filter-option {
      position: relative;
      padding-left: 20px;
      &:before {
        content: "";
        position: absolute;
        height: 11.5px;
        width: 14.5px;
        background-image: url("../img/sprite-flag.png");
        background-size: auto;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    &[title="English"] .filter-option:before {
      background-position: 0 0;
    }

    &[title="French"] .filter-option:before {
      background-position: 0 -13px;
    }

    &[title="German"] .filter-option:before {
      background-position: 0 -26px;
    }

    &[title="Bolivia"] .filter-option:before {
      background-position: 0 -51px;
    }

    &[title="Argentina"] .filter-option:before {
      background-position: 0 -38px;
    }
  }
}

.dropdownUserInfo {
  .bootstrap-select.btn-group .dropdown-toggle {
    line-height: 1.2;
    .filter-option {
      overflow: visible;
      font: $fontRegular;
      &:before {
        font: 14px/1 FontAwesome;
        margin-right: 5px;
      }
    }
  }
}

.bootstrap-select>.dropdown-toggle {
  padding-left: 0;
}

.dropdown-toggle {
  padding: 0 10px 0 0;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
////end style for dropdown-select


.bottomLine {
  border-bottom: 1px solid #ddd;
}

.livechatLink,
.callusLink {
  font: $fontRegular;
  span {
    font-weight: 900;
    text-transform: uppercase;
  }
  i {
    font-size: 20px;
    top: 3px;
    position: relative;
    color: #828282;
  }
}

.livechatLink {
  span {
    text-transform: uppercase;
  }
}

//end style for top navigation

//begin style for header block
.header {
  margin: 30px 0 -30px;
}

////begin style for logo
.logoWrapper {
  width: 21%;
  max-width: 245px;
  float: left;
  .mainText {
    color: $secondColor;
    font: $fontBlack;
    font-size: 34px;
    line-height: 1;
    text-transform: uppercase;
    span {
      font: $fontRegular;
      font-size: 14px;
      color: #969696;
      display: block;
      text-transform: capitalize;
      letter-spacing: 3.5px;
    }
  }
}

//// end style for logo

////begin style for search block
.searchWrapper {
  max-width: 431px;
  width: 100%;
  font-size: 0;
  padding: 0;
  margin: 2px 0;
  &.onFocus {
    box-shadow: 0 0 5px $secondColor;
    .searchInput {
      border-color: $secondColor;
    }
    .inputWrapper:before {
      background-position: top left;
    }
  }
  .inputWrapper,
  .cmdSearch {
    display: inline-block;
  }
  .cmdSearch {
    width: 91px;
    background: $secondColor;
    border: 0;
    color: #fff;
    font: $fontBold;
    font-size: 14px;
    height: 42px;
    &:hover {
      background: #23B5C7;
    }
  }
  .inputWrapper {
    max-width: 340px;
    width: 100%;
  }
  .searchInput {
    height: 42px;
    width: 100%;
    outline: none;
    background: transparent;
    border-color: #dadada;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    font: $fontRegular;
    font-size: 12px;
    color: #999;
    padding: 10px 0 10px 53px;
  }
  .inputWrapper {
    position: relative;
    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      height: 30px;
      margin: auto;
      width: 1px;
      left: 41px;
      background: #dadada;
    }
    &:before {
      background: url("../img/icon-search.png") no-repeat top right;
      height: 18px;
      width: 18px;
      left: 12px;
    }
  }
}

////end style for search block


////begin style for cart-info
.cartInfo {
  background: $secondColor;
  color: #fff;
  width: 171px;
  height: 103px;
  position: relative;
  top: -30px;
  padding: 10px 0;
  p {
    margin: 0 0 5px;
  }
  .cartIcon {
    font-size: 24px;
  }
  .cartName {
    font: $fontBlack;
    font-size: 14px;
    text-transform: uppercase;
  }
  .cartCount {
    font: $fontRegular;
    font-size: 12px;
  }
}
////end style for cart-info

////begin style for delivery info block
.deliveryInfo {
  position: relative;
  margin-left: 45px;
  padding-left: 33px;
  float: left;
  &:before {
    content: "";
    height: 170%;
    width: 1px;
    background: #dadada;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
  }
  .deliveryIcon {
    color: $secondColor;
    float: left;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 6px;
  }
  .textWrapper {
    float: right;
  }
  .deliveryText,
  .deliveryText2 {
    margin: 0;
    text-transform: capitalize;
  }
  .deliveryText {
    font: $fontBoldLi;
    font-size: 18px;
    color: #444;
  }
  .deliveryText2 {
    color: #999;
  }
}
////end style for delivery info block

//end style for header block

//begin style for main menu
.mainMenu {
  background: #202020;
  font-size: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
  position: relative;

  .navigationList > li > a {
    color: #fff;
    padding: 10px 20px 10px 21px;
    display: block;
    text-decoration: none;
    font: $fontBlack;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    position: relative;
    &.homeLink {
      font-size: 20px;
    }
  }

  .navigationList {
    li {
      vertical-align: top;
      line-height: 1;
      margin-bottom: 10px;
      &.active,
      &.open,
      &:hover {
        background: $secondColor;
      }
      &.open {
        position: relative;
      }
      &.features,
      &.bedroom,
      &.room {
        .dropdown-menu {
          width: 100%;
          border-radius: 0;
          padding: 30px 0;
        }
      }
      &.features {
        .dropdown-menu {
          left: -55%;
          min-width: 90vw;
        }
      }
      &.room {
        .dropdown-menu {
          min-width: 61vw;
        }
      }
      &.bedroom {
        .dropdown-menu {
          min-width: 64.65vw;
          padding: 0;
        }
      }
      .dropdown-menu {
        position: absolute;
        top: 95%;
        left: 0;
      }
    }
  }
  .room {
    .subcategoryItem {
      padding: 0 30px;
      margin: 20px 0;
    }
  }
  .bedroom {
    .subcategoryItem {
      padding: 30px;
      margin: 0;
      background: #f2f2f2;
    }
  }
  .subcategoryItem {
    margin: 0 10px 20px;
    padding: 0 0 0 5px;
    &.secondFont {
      .subcategoryList a {
        font: $fontRegular;
        font-size: 14px;
      }
    }
    .subcategoryTitle {
      margin-bottom: 20px;
      color: #494949;
      font: $fontBlack;
      //font-size: 14px;
      text-transform: uppercase;
    }
    .subcategoryList {
      li:hover {
        background: transparent;
      }
      a {
        color: #494949;
        font-family: 'Myriad Pro', sans-serif;
        text-decoration: none;
        position: relative;
        &:hover {
          color: $secondColor;
        }
        &.brown,
        &.green,
        &.red,
        &.orange,
        &.blue {
          padding-left: 16px;
        }
        &.brown:before,
        &.green:before,
        &.red:before,
        &.orange:before,
        &.blue:before {
          content: '';
          height: 11px;
          width: 11px;
          position: absolute;
          left: 0;
          top: 1px;
        }
        &.brown:before {
          background: #925829;
        }
        &.green:before {
          background: #80a439;
        }
        &.red:before {
          background: #f64b00;
        }
        &.orange:before {
          background: #e9a105;
        }
        &.blue:before {
          background: #03a9f4;
        }
      }
    }
  }

  ////begin style for social icon
  .socialList {
    background: #414141;
    margin: 0;
    padding: 0;
    width: 171px;
    li {
      padding: 0;
      a {
        padding: 12px 5px;
        color: #b6b6b6;
        font-size: 18px;
        display: block;
        &:hover {
          color: $secondColor;
        }
      }
    }
  }
  ////end style for social icon
}

//end style for main menu